.AddPlayerButton {
    margin-top: 50px;
    background-color: green;
}

.PlayersContainer {
    display: flex;
}

.PlayersList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.PlayersList li {
    flex: 0 0 30%;
    padding: 10px;
}
