.AddPlayerButton {
    margin-top: 50px;
    background-color: green;
}

/* ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

li {
    margin: 5px;
} */