.SessionInfo {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.SessionInfo p {
    margin-right: 10px;
}

.SessionInfo button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: auto;
    border: solid transparent;
    font-size: 15px;
    border-radius: 5px;
}

.SessionInfo button:hover {
    border: solid;
}

.SessionInfo ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 20px;
}

.SessionInfo ul li {
    margin-right: 10px;
}

.SessionInfo a:hover {
    text-decoration: underline;
}

.SessionInfo p {
    font-size: 20px;
}
